############################################################
#
# See http://www.appveyor.com/docs/appveyor-yml for many more options
#
# Credit for a lot of this file goes to RamblingCookieMonster:
# https://github.com/RamblingCookieMonster/PSSQLite/blob/master/appveyor.yml
#
############################################################

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      PowerShellEdition: PowerShellCore
  PSGalleryAPIKey:
    secure: UJvaolsT35KOWl+E5GGISO4pdWLxj6hATx4UHA+VXLyif1tlFOiGQZitMun8HEFZ

version: 0.2.{build}

# Don't rebuild when I tag a release on GitHub
skip_tags: true

# Ignore testing a commit if only the readme changed
# Or if I include "skip-tests" in the commit message
skip_commits:
  message: /skip\-tests/
  files:
    - .github/
    - .vscode/
    - assets/
    - Tools/
    - README.md
    - .gitattributes
    - .gitignore

# PRs, by definition, don't change anything and therefore should not increment the version
# To be fair, this is not important, and is really just AppVeyor enabling my pedantry
pull_requests:
  do_not_increment_build_number: true

#       Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force  | Out-Null

install:
    - pwsh: |
        Install-Module InvokeBuild -Scope CurrentUser -Force
        Install-Module BuildHelpers -Scope CurrentUser -Force
        Install-Module platyPS -Scope CurrentUser -Force
        Install-Module Pester -Scope CurrentUser -Force
        Install-Module PSScriptAnalyzer -Scope CurrentUser -Force
        $env:releasePath = "$($pwd.Path)\Release"

before_build:
    - pwsh: Invoke-Build -Task ShowDebug

build_script:
    - pwsh: Invoke-Build -Task Build

# after_build:
    # - cmd: mdspell %releasePath%\**/*.md --ignore-numbers --ignore-acronyms --report

test_script:
    - pwsh: Invoke-Build -Task Test

before_deploy:
    - pwsh: Invoke-Build -Task Deploy

deploy:
    provider: GitHub
    release: v$(appveyor_build_version)
    description: ''
    auth_token:
        secure: TIE6vf/OAY070tpQEUC4Uv8DP8TxWf/MKMEzIew4zFlNyUsnK7IGT/PhPpg2zkuG
    draft: false
    prerelease: false
    on:
        branch: master                  # release from master branch only
        appveyor_repo_tag: false
